.homesect {
  height: 100vh;
  background-image: url("../Images/hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#herocont {
  position: absolute;
  top: 30%;
  height: 45vh;
  width: 45%;
  background-color: #ffb822;
  padding: 30px;
}
